body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    display: flex;
    align-items: center;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    color: White;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/* Style the main content area */
main {
    margin: 20px;
}