* {
    margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    display: flex;
    align-items: center;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    color: White;
}

h4 {
    font-weight: normal;
    margin: 10px 0 10px 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/* Main area */
main {
    margin: 20px 10% 20px 10%;
}

#upload {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#upload-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
}

#app-information {
    margin-bottom: 20px;
}

#app-information h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

#app-information p {
    font-size: 1.2em;
    line-height: 1.6em;
}

#upload-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.learn-more-btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 10px 0 10px;
    transition: background-color 0.2s ease-in-out;
    font-size: 16px;
}

.custom-file-upload:hover {
    background-color: #444;
}

button {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px 0 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 16px;
}
  
button:hover {
    background-color: #444;
}

/* Music genre */
#music_genre {
    text-align: center;
    padding: 20px;
    margin: 50px;
    background-color: #444;
    border-radius: 8px;
    color: White;
}

#music_genre h2, h3 {
    font-weight: normal;
}

/* Information */
#information {
    font-family: Arial, sans-serif;
}

.information-section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.section-image {
    flex: 1;
}

.section-content {
    flex: 3;
}

.section-content h3 {
    font-size: 1.5em;
}

.section-content p {
    font-size: 1.2em;
    line-height: 1.6em;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

#dataset {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#dataset-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

#dataset-info {
    flex: 1;
}

#dataset-info h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

#dataset-info p {
    font-size: 1.2em;
    line-height: 1.6em;
}

#info-button {
    margin-top: 20px;
}

.learn-more-btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#dataset-landing-image {
    flex: 0.5;
    margin-left: 50px;
}

#dataset-landing-image img {
    max-width: 100%;
    height: auto;
}

/* Music player */
#music-player {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.card h2 {
    margin-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.options {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.options label {
    margin-left: 5px;
    margin-top: 10px;
}

.btn-submit {
    display: inline-block;
    background: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background: #555;
}

#player {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Track features */
.track-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
  
.track-information h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
  
.track-information div {
    margin-top: 20px;
}

.features-tab ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.features-tab ul li a {
    display: inline-block;
    color: #ffffff;
    background-color: #444444;
    padding: 15px 30px;
    text-decoration: none;
    border: none;
    border-radius: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    margin: 5px;
}

.features-tab ul li a:hover {
    background-color: #666666;
}

.features-content img {
    width: 100%;
    height: auto;
}

.features-description {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2em;
    line-height: 1.4;
}

.features-description p {
    margin: 0;
}

/* Users */
#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c8c8c8;
    font-weight: bold;
}

#register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c8c8c8;
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: White;
}

footer a:visited{
    color: White;
}