body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    display: flex;
    align-items: center;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    color: White;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/* Content area */
main {
    margin: 20px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
label {
    margin-bottom: 10px;
}
  
input[type="file"] {
    margin-bottom: 20px;
}
  
button[type="submit"] {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
  
button[type="submit"]:hover {
    background-color: #444;
}

#music_genre {
    text-align: center;
    
}

/* Track features */
.track-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
  
.track-information h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
  
.track-information div {
    margin-top: 20px;
}
  
.wave img {
    max-width: 100%;
    height: auto;
}
  
.spectogram img {
    max-width: 100%;
    height: auto;
}
  
.chromagram img {
    max-width: 100%;
    height: auto;
}
  
.mfcc img {
    max-width: 100%;
    height: auto;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}