{% extends 'base_analysis.html' %}

{% block genre_classifier %}
    <div id="music_genre">
        <h3 class="model-name">Model: {{ model_name }}</h3>
        <h2 class="predicted-genre">Predicted music genres: {{ prediction }}</h2>
    </div>
{% endblock %}

{% block track_features %}
<div class="track-information">
    <h2>Track Features</h2>
    <div class="features-tab">
        <ul>
            <li><a id="defaultOpen" onclick="openFeature(event, 'waveform')">Waveform</a></li>
            <li><a onclick="openFeature(event, 'spectogram')">Spectrogram</a></li>
            <li><a onclick="openFeature(event, 'chromagram')">Chromagram</a></li>
            <li><a onclick="openFeature(event, 'mfcc')">MFCC</a></li>
        </ul>
    </div>
    <div id="waveform" class="features-content">
        <img src="{{ waveform_image }}">
    </div>
    <div id="spectogram" class="features-content" style="display:none">
        <img src="{{ spectogram_image }}">
    </div>
    <div id="chromagram" class="features-content" style="display:none">
        <img src="{{ chromagram_image }}">
    </div>
    <div id="mfcc" class="features-content" style="display:none">
        <img src="{{ MFCC_image }}">
    </div>
    <div id="waveformDesc" class="features-description">
        <p>Visual representation of the audio's amplitude over time.</p>
    </div>
    <div id="spectogramDesc" class="features-description" style="display:none">
        <p>Visual representation of the spectrum of frequencies in the audio as it varies with time.</p>
    </div>
    <div id="chromagramDesc" class="features-description" style="display:none">
        <p>Visual representation of the intensity of different pitches in the audio changes over time.</p>
    </div>
    <div id="mfccDesc" class="features-description" style="display:none">
        <p>Mel Frequency Cepstral Coefficients represent the short-term power spectrum of a sound, based on a nonlinear mel scale of frequency.</p>
    </div>
</div>

{% endblock %}