<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Exploring the intersection of music and artificial intelligence, containing various machine learning models, algorithms, and datasets for music analysis.">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <h1><a href="{{ url_for('index') }}">AI-Music</a></h1>
                <ul>
                    <li><a href="https://github.com/mdeff/fma">Dataset</a></li>
                    <li><a href="https://github.com/jle1001/AI-Music">Project</a></li>
                    <li><a href="{#{ url_for('about') }#}">About</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block upload_file %}
            {% endblock %}
            <hr>
            {% block information %}
            {% endblock %}
            <hr>
            {% block dataset %}
            {% endblock %}        
        </main>
        <footer>
            <p>2023 - AI-Music - José Ángel López</p>
            <p><a href="https://www.linkedin.com/in/jlopezestrada/">LinkedIn</a> - 
                <a href="https://github.com/jlopezestrada">GitHub</a> - 
                <a href="mailto:jose.a.l.e@hotmail.com">Email</a></p>
        </footer>
    </body>
</html>