{% extends 'base.html' %}

{% block upload_file %}
<div id="upload-div">
    <div id="app-information">
        <h1>Musical Analysis using artificial intelligence</h1>
        <h4>Musical analysis using artificial intelligence using computational methods to analyze and classify music based on various musical features</h4>
    </div>
    <div id="upload-buttons">
        <form enctype="multipart/form-data" action="{{ url_for('upload_file') }}" method="post">
            <label for="file-upload" class="custom-file-upload">
                UPLOAD FILE
            </label>
            <input type="file" name="upload" id="file-upload" onchange="this.form.submit()"/>
        </form>
    <button>LEARN MORE</button>
    </div>
</div>
{% endblock %}

{% block genre_classifier %}
    <div id="music_genre">
        <h2>Predicted music genre: {{ prediction }}</h2>
    </div>
{% endblock %}


{% block track_features %}
    <div class="track-information wave">
        <h2>Waveform</h2>
        <div><img src="{{ waveform_image }}"></div>
    </div>
    <div class="track-information spectogram">
        <h2>Spectogram</h2>
        <div><img src="{{ spectogram_image }}"></div>
    </div>
    <div class="track-information chromagram">
        <h2>Chromagram</h2>
        <div><img src="{{ chromagram_image }}"></div>
    </div>
    <div class="track-information mfcc">
        <h2>MFCC</h2>
        <div><img src="{{ MFCC_image }}"></div>
    </div>
{% endblock %}