{% extends 'base.html' %}

{% block upload_file %}
<div id="upload">
    <div id="upload-div">
        <div id="app-information">
            <h1>Musical Analysis using artificial intelligence</h1>
            <h4>Musical analysis using artificial intelligence and computational methods to analyze and classify music based on various musical features</h4>
        </div>
        <div id="upload-buttons">
            <form enctype="multipart/form-data" action="{{ url_for('upload_file') }}" method="post">
                <label for="file-upload" class="custom-file-upload">
                    UPLOAD FILE
                </label>
                <input type="file" name="upload" id="file-upload" onchange="this.form.submit()"/>
            </form>
        <button>LEARN MORE</button>
        </div>
    </div>

    <div id="music-player">
        <div id="algorithm-selector">
            <form enctype="multipart/form-data" action="{{ url_for('analysis') }}" method="post">
                <select name="algorithm-selection" id="algorithm-seleciton">
                    <option value="1">Initial Model</option>
                    <option value="2">Simple Convolutional</option>
                    <option value="3">Convolutional</option>
                </select>
                <input type="checkbox">Option 1
                <input type="checkbox">Option 2
                <input type="checkbox">Option 3
                <input type="submit">
            </form>
        </div>
        <div id="upload-information">
            <h1>Information</h1>
            <h4>Sample rate: </h4>
            <h4>Format: </h4>
            <h4>Duration: </h4>
        </div>
        <audio controls>
            <source src="upload/upload.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
    </div>
</div>
{% endblock %}
{% block information %}
<div id="information">
    <div class="information-section">
        <div class="section-image"><img></div>
        <div class="section-content">
            <h3>Analysis</h3>
            <p>Music analysis is a pivotal step in the identification of a track's genre. Each genre possesses distinctive characteristics and features that set it apart. Our process involves a thorough analysis of these elements.</p>
        </div>
    </div>
    <hr>
    <div class="information-section">
        <div class="section-image"><img></div>
        <div class="section-content">
            <h3>Classification</h3>
            <p>Post-analysis, our advanced Artificial Intelligence algorithm steps in to categorize the song accurately into its respective musical style. This classification hinges on an in-depth understanding of the analyzed musical features.</p>
        </div>
    </div>
    <hr>
    <div class="information-section">
        <div class="section-image"><img></div>
        <div class="section-content">
            <h3>Insights</h3>
            <p>To shed light on the classification process, we provide data and graphical representations that portray the underlying structure and characteristics of the music. This deep-dive knowledge acquisition offers an enhanced comprehension of the composition.</p>
        </div>
    </div>
</div>
{% endblock %}
{% block dataset %}
<div id="dataset">
    <div id="dataset-info">
        <div id="dataset-info-text">
            <h1>FMA Dataset</h1>
            <h4>FMA dataset is a publicly available large-scale dataset  for evaluating several tasks in Music Information Retrieval.
                FMA has been the basis on which the model has been trained.</h4>
        </div>
        <div id="info-button">
            <button>LEARN MORE</button>
        </div>
    </div>
    <div id="landing-image">
        <img src="{{ url_for('static', filename='media/img/placeholder.webp') }}">
    </div>
</div>
{% endblock %}