{% extends 'base.html' %}

{% block upload_file %}

<script src="{{ url_for('static', filename='js/audioPlayer.js') }}"></script>

<div id="music-player">
    <div id="algorithm-selector" class="card">
        <h2>Select your algorithm</h2>
        <form enctype="multipart/form-data" action="{{ url_for('analysis') }}" method="post">
            <select name="algorithm-selection" id="algorithm-selection" class="form-input">
                <option value="1">Initial Model</option>
                <option value="2">Simple Convolutional</option>
                <option value="3">Convolutional</option>
            </select>
            <div id="options" class="options">
                <input type="checkbox" id="option1" name="option1">
                <label for="option1">Option 1</label>
                <input type="checkbox" id="option2" name="option2">
                <label for="option2">Option 2</label>
                <input type="checkbox" id="option3" name="option3">
                <label for="option3">Option 3</label>
            </div>
            <input type="submit" value="Submit" class="btn-submit">
        </form>
    </div>
    <div id="upload-information" class="card">
        <h2>Information</h2>
        <p><strong>Sample rate: {{ sample_rate }}</strong></p>
        <p><strong>Format: {{ format }}</strong></p>
        <p><strong>Duration: {{ duration }}</strong></p>
    </div>
    <div id="player">
        <audio controls>
            <source src="{{ url_for('static', filename='upload/upload.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
{% endblock %}
{% block information %}
<div id="information">
    <div class="information-section">
        <div class="section-image"><img></div>
        <div class="section-content">
            <h3>Analysis</h3>
            <p>Music analysis is a pivotal step in the identification of a track's genre. Each genre possesses distinctive characteristics and features that set it apart. Our process involves a thorough analysis of these elements.</p>
        </div>
    </div>
    <hr>
    <div class="information-section">
        <div class="section-image"><img></div>
        <div class="section-content">
            <h3>Classification</h3>
            <p>Post-analysis, our advanced Artificial Intelligence algorithm steps in to categorize the song accurately into its respective musical style. This classification hinges on an in-depth understanding of the analyzed musical features.</p>
        </div>
    </div>
    <hr>
    <div class="information-section">
        <div class="section-image"><img></div>
        <div class="section-content">
            <h3>Insights</h3>
            <p>To shed light on the classification process, we provide data and graphical representations that portray the underlying structure and characteristics of the music. This deep-dive knowledge acquisition offers an enhanced comprehension of the composition.</p>
        </div>
    </div>
</div>
{% endblock %}
{% block dataset %}
<div id="dataset">
    <div id="dataset-content">
        <div id="dataset-info">
            <h1>FMA Dataset</h1>
            <p>A publicly accessible, large-scale dataset tailored for evaluating various tasks in Music Information Retrieval. The model training leverages the extensive resources of the FMA dataset.</p>
            <div id="info-button">
                <a target="_blank" href="https://github.com/mdeff/fma">
                    <button class="learn-more-btn">Learn More</button>
                </a>
            </div>
        </div>
        <div id="dataset-landing-image">
            <img>
        </div>
    </div>
</div>
{% endblock %}